@font-face {
  font-family: 'CevicheOne-Regular';
  src: url('./public/fonts/CevicheOne-Regular.ttf');
}

@font-face {
  font-family: 'Monchiy PoP One';
  src: url('./public/fonts/MochiyPopPOne.ttf');
}

* {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  justify-content: center;
}

canvas {
  width: 100%;
  max-width: 900px;
}